.site-body {
    display: flex;
    background-color: #f9f6f6;
  }
  .sidebar-div {
    width: 300px;
    background-color: #fd3693;
    height: 100vh;
  }
  .site-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .site-content-container {
    width: 90%;
    margin: 0 auto;
  }
  .lx {
    display: flex;
  }
  .lx-row {
    flex-direction: row;
  }
  .lx-6 {
    flex: 6;
  }
  .lx-4 {
    flex: 4;
  }
  .lx-col {
    flex-direction: column;
  }
  .align-center {
    align-items: center;
  }
  .center {
    justify-content: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .font-size-m {
    font-size: 25px;
  }
  .bb-gray {
    border-bottom: 1px solid #ddd; 
  }
  .pl-m {
    padding-left: 150px;
  }
  .round {
    border-radius: 999px;
  }
  .m-0 {
    margin: 0px;
  }
  .b-0 {
    border: none;
  }
  .w-50 {
    width: 50px;
  }
  .w-100-p {
    width: 100%;
  }
  .new-post-btn {
    background-color: #fd3693;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.new-post-btn:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
  .font-size-s {
    font-size: 15px;
  }
  .ml-s {
    margin-left: 15px;
  }
  .ml-m {
    margin-left: 30px;
  }
  .date-viewselect {
    color: #fd3693;
    font-size: 18px;
    background-color: #f9f6f6;
  }
  .progress-select {
    color: #fd3693;
    font-size: 15px;
    border-radius: 10px;
  }
  .date-viewselect li {
    background-color: white;
    color: #fd3693;
    padding: 10px 10px !important;
    border-bottom: 1px dashed #f9f6f6;
    font-size: 14px;
  }
  .overflow-auto {
    overflow: auto;
  }
  .h-100-p {
    height: 100%;
  }
  .post-comp-div {
    margin: 40px auto;
    height: 150px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  }

  .post-comp-color {
    width: 10px;
    border-radius: 20px 0px 0px 20px;
  }

  .dashboard-high-skill {
    padding: 20px 0px 20px 50px;
  }
  .circle-progress-div {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
  }
  .circle-body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .radio-color-div {
    width: 15px;
    height: 15px;
    border-radius: 999px;
    background-color: #7eecbe;
    border: none;
  }
  .ml-xs {
    margin-left: 3px;
  }
  .font-weight-bold {
    font-weight: 500;
  }
  .h-80-vh {
    height: 80vh;
  }
  .c-g-m {
    column-gap: 1.5rem;
  }
  .c-g-s {
    column-gap: 0.75rem;
  }
  .post-themekind {
    font-size: 20px;
  }
  .baseline {
    align-items: baseline;
  }
  .post-comp-content {
    padding: 20px 30px 20px 30px;
  }
  .viewport-a {
    color: #fd3693;
    font-size: 18px;
    text-underline-offset: 5px;
  }
  .post-pending-btn {
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 20px;
  }
  .end {
    align-items: end;
  }
  .pr-20 {
    padding-right: 20px;
  }
  .total-h {
    color: #fd3693;
  }
  .circle-div {
    margin-top: 20px;
    border: 5px solid #fd3693;
    border-radius: 999px;
    text-align: center;
    color: #fd3693;
    background-color: white;
    font-size: 80px;
    width: 100px;
    height: 100px;
    padding: 30px;
  }
  .font-size-l {
    font-size: 50px;
  }