#creatorsGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#meetCreators {
  text-align: center;
  font-size: 26px;
}

.creator-box {
  min-width: 200px;
  flex-basis: 20%;
  flex-grow: 1;
  word-break: break-all;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.9);
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s;
}

.creator-box:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 0 20px rgba(64, 64, 64, 1);
}

.creator-box img {
  width: 35px;
  margin: 0 15px 0 30px;
}

.creator-box > span :first-child {
  cursor: pointer;
}

.creator-box span p:first-of-type {
  font-size: 18px;
  font-weight: 500;
}

.creator-box > span:last-of-type {
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: flex-end;
}

.creator-box > span:last-of-type button {
  background: white;
  border: none;
  cursor: pointer;
}
.custom-profile-div {
  padding-bottom: 20px;
}
.custom-profile-comp-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-profile-name {
  display: block;
  margin: 10px 0px 10px 0px;
}
.custom-profile-intro {
  width: 50%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.custom-deal-intro {
  width: 50%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.custom-profile-intro:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.29);
}
.about-us {
  font-size: 20px;
  font-weight: bold;
}
.custom-deal-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-deal-name {
  margin: 0px;
  display: inline;
}
.custom-deal-price {
  display: inline;
}
.custom-deal-arrow {
  float: right;
}
.custom-deal-price-div {
  display: inline-block;
  float:right;
}
.custom-deal-desc-div {
  margin-top: 20px;
}